@inject PhotoPavilion.Services.Data.Contracts.ICategoriesService CateogiresService
@using PhotoPavilion.Common

@{
    var categories = await CateogiresService.GetAllCategoriesAsync<NavbarCategoryViewModel>();
}

<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <h6>About</h6>
                <p class="text-justify">
                    The PhotoPavilion brand was born in the distant 2005 as the first chain of photographic equipment stores.
                    Our priorities to this day are high professionalism and building trust among our customers.
                    We are happy to be able to follow the rapid pace of development of the sector and to offer innovations in the field of photography and video equipment, immediately after their appearance on the world market.
                </p>
            </div>
            <div class="col-sm-12 col-md-4">
                <h6>Products</h6>
                <ul class="footer-links">
                    <cache expires-after="@TimeSpan.FromDays(30)" vary-by="@categories.Count().ToString()">
                        @foreach (var category in categories)
                        {
                            <li>
                                <a asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="@category.Name">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </cache>
                </ul>
            </div>
            <div class="col-xs-6 col-md-4">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a asp-area="" asp-controller="About" asp-action="Index">FAQ</a></li>
                    <li><a asp-area="" asp-controller="Contacts" asp-action="Index">Contact Us</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">
                    &copy; @DateTime.Now.Year All Rights Reserved |
                    <a asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                </p>
                <p class="copyright-text">
                    <a href="https://github.com/stanislavstoyanov99/PhotoPavilion">Open source project</a>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="https://www.facebook.com/stanislavstoyanovphotography/"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a class="twitter" href="https://twitter.com/Slavkata99"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a class="instagram" href="https://www.instagram.com/stanislav_stoyanov99"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>