@inject PhotoPavilion.Services.Data.Contracts.ICategoriesService CateogiresService
@using PhotoPavilion.Common

@{
    var categories = await CateogiresService.GetAllCategoriesAsync<NavbarCategoryViewModel>();
}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" active-when="/Products/Index">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item" active-when="/Brands/Index">
                <a class="nav-link" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
            </li>
            <li class="nav-item dropdown" active-when="/Categories/Index">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <cache expires-after="@TimeSpan.FromDays(30)" vary-by="@categories.Count().ToString()">
                        @foreach (var category in categories)
                        {
                            <a class="dropdown-item"
                               asp-area=""
                               asp-controller="Categories"
                               asp-action="ByName"
                               asp-route-name="@category.Name">
                                @category.Name
                            </a>
                        }
                    </cache>
                </div>
            </li>
            <li class="nav-item" active-when="/Home/Privacy">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <partial name="_LoginPartial" />
            @if (this.User.Identity.IsAuthenticated)
            {
                @await this.Html.PartialAsync("_UserOrderProductsPartial")
            }
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            @if (this.User.Identity.IsAuthenticated)
            {
                @await Component.InvokeAsync(typeof(ShoppingCartComponent))
            }
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>