<h5>Model's administration</h5>
<ul class="nav nav-pills flex-column">
    <li class="@AdminNavPages.ProductsNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Products" asp-action="Index">Products</a>
    </li>
    <li class="@AdminNavPages.CategoriesNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Categories" asp-action="Index">Categories</a>
    </li>
    <li class="@AdminNavPages.BrandsNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Brands" asp-action="Index">Brands</a>
    </li>
</ul>
<hr />
<h5>Site's administration</h5>
<ul class="nav nav-pills nav-stacked flex-column">
    <li class="@AdminNavPages.AboutNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="About" asp-action="Index">FAQ page</a>
    </li>
    <li class="@AdminNavPages.PrivacyNavClass(ViewContext)">
        <a asp-area="Administration" asp-controller="Privacy" asp-action="Index">Privacy</a>
    </li>
</ul>