@inject PhotoPavilion.Services.Data.Contracts.ICategoriesService CateogiresService
@using PhotoPavilion.Models.ViewModels.Products
@model ProductCategoryPageListingViewModel
@{
    ViewData["Title"] = "Categories";
}

@{
    var categories = await CateogiresService.GetAllCategoriesAsync<NavbarCategoryViewModel>();
}

@{
    var prevDisabled = !Model.ProductsByCategoryName.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.ProductsByCategoryName.HasPreviousPage ? "1" : (Model.ProductsByCategoryName.PageIndex - 1).ToString();
    var nextDisabled = !Model.ProductsByCategoryName.HasNextPage ? "disabled" : "";
    var nextPage = !Model.ProductsByCategoryName.HasNextPage ? "1" : (Model.ProductsByCategoryName.PageIndex + 1).ToString();
}

<link href="~/css/products-by-category.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/ratings.css" rel="stylesheet" asp-append-version="true" />

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@this.TempData["CategoryName"]</h1>
        <p class="lead text-muted mb-0">
            @Html.Raw(Model.Category.SanitizedDescription)
        </p>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@this.TempData["CategoryName"]</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-danger text-white text-uppercase">
                    <i class="fa fa-list"></i> Categories
                </div>
                <ul class="list-group category_block">
                    <cache expires-after="@TimeSpan.FromDays(30)" vary-by="@categories.Count().ToString()">
                        @foreach (var category in categories)
                        {
                            <li class="list-group-item">
                                <a asp-area="" asp-controller="Categories" asp-action="ByName" asp-route-name="@category.Name">
                                    @category.Name
                                </a>
                            </li>
                        }
                    </cache>
                </ul>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header bg-dark text-white text-uppercase">Last product</div>
                <div class="card-body">
                    <img class="img-fluid" src="@Model.LastlyAddedProduct.ImagePath" />
                    <h5 class="card-title">
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.LastlyAddedProduct.Id">
                            @Model.LastlyAddedProduct.Name
                        </a>
                    </h5>
                    <p class="card-text">@Html.Raw(Model.LastlyAddedProduct.SanitizedShortDescription)</p>
                    <p class="bloc_left_price">@Model.LastlyAddedProduct.Price $</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="row">
                @foreach (var product in Model.ProductsByCategoryName)
                {
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="card h-100">
                            <a>
                                <img class="card-img-top img-thumbnail" src="@product.ImagePath" alt="Product Image" />
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id">
                                        @product.Name
                                    </a>
                                </h4>
                                <p class="card-text">@Html.Raw(product.SanitizedShortDescription)</p>
                                <hr />
                                <div class="row">
                                    <div class="col">
                                        <p class="btn btn-danger btn-block">$@product.Price</p>
                                    </div>
                                    <div class="col">
                                        <form method="post" asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id" asp-route-quantity="quantity">
                                            <button class="btn btn-success btn-block">
                                                <i class="fa fa-shopping-cart" aria-hidden="true">&nbsp;Add to Cart</i>
                                            </button>
                                            <input type="number" name="quantity" class="btn btn-secondary btn-sm col-md-6 mt-3" value="1" min="1" />
                                        </form>
                                    </div>
                                </div>
                                <div class="product_rassurance">
                                    <ul class="list-inline">
                                        <li class="list-inline-item p-3"><i class="fa fa-truck fa-2x"></i><br />Fast delivery</li>
                                        <li class="list-inline-item p-3"><i class="fa fa-credit-card fa-2x"></i><br />Secure payment</li>
                                        <li class="list-inline-item p-3"><i class="fa fa-phone fa-2x"></i><br />+33 1 22 54 65 60</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="col-md-6">
                                    <div class="block-stars stars_ratings product_@product.Id" onload="showRating()">
                                        <ul class="ratings p-0">
                                            <li>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                            <li>
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <div class="badge badge-primary starRatingsSum">
                                            @product.StarRatingsSum
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                @if (Model.ProductsByCategoryName.TotalPages != 0)
                {
                    <div class="col-lg-12 col-md-6 mb-4">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item @prevDisabled">
                                    <a class="page-link" asp-action="ByName" asp-route-pageNumber="@prevPage">
                                        Previous
                                    </a>
                                </li>
                                @for (int i = 1; i <= Model.ProductsByCategoryName.TotalPages; i++)
                                {
                                    var active = i == Model.ProductsByCategoryName.PageIndex ? "active" : string.Empty;
                                    <li class="page-item @active">
                                        <a class="page-link" asp-action="ByName" asp-route-pageNumber="@i" asp-route-name="@this.TempData["CategoryName"]">@i</a>
                                    </li>
                                }
                                <li class="page-item @nextDisabled">
                                    <a class="page-link" asp-action="ByName" asp-route-pageNumber="@nextPage">
                                        Next
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/rating.js"></script>
}