@model PaginatedList<PhotoPavilion.Models.ViewModels.OrderProducts.OrderProductDetailsViewModel>
@{
    ViewData["Title"] = "Order Products";
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var prevPage = !Model.HasPreviousPage ? "1" : (Model.PageIndex - 1).ToString();
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var nextPage = !Model.HasNextPage ? "1" : (Model.PageIndex + 1).ToString();
}

<div class="container mt-3 mb-3">
    <h3 class="text-center">My Orders</h3>
    @if (!Model.Any())
    {
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">No orders found</h4>
            <p>Aww yeah, you successfully read this important alert message. You have no orders found.</p>
            <hr>
            <div>
                <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Index" role="button">Home</a>
            </div>
        </div>
    }
    else
    {
    <table class="table table-hover" id="orderProductsTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Date of purchase</th>
                <th>Order status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td display-for="@item.Id"></td>
                    <td>
                        <a class="text-dark" asp-controller="Products" asp-action="Details" asp-route-id="@item.ProductId">
                            @item.ProductName
                        </a>
                    </td>
                    <td display-for="@item.Quantity"></td>
                    <td><time datetime="@item.Date.ToString("O")"></time></td>
                    <td display-for="@item.Status"></td>
                    <td>
                        <a class="btn btn-outline-dark" asp-controller="OrderProducts" asp-action="Details" asp-route-id="@item.Id">Details</a>&nbsp;
                    </td>
                </tr>
            }
        </tbody>
    </table>
        @if (Model.TotalPages != 0)
         {
            <div class="col-lg-12 col-md-6 mb-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @prevDisabled">
                            <a class="page-link" asp-action="ByName" asp-route-pageNumber="@prevPage">
                                Previous
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            var active = i == Model.PageIndex ? "active" : string.Empty;
                            <li class="page-item @active">
                                <a class="page-link" asp-action="Index" asp-route-pageNumber="@i">@i</a>
                            </li>
                        }
                        <li class="page-item @nextDisabled">
                            <a class="page-link" asp-action="Index" asp-route-pageNumber="@nextPage">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
         }
    }
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#orderProductsTable')
                .addClass('nowrap')
                .dataTable({
                    responsive: true,
                });
        });
    </script>
}