@using PhotoPavilion.Models.ViewModels.Products
@model PaginatedList<ProductDetailsViewModel>
@{
    this.ViewData["Title"] = "All products";
    this.ViewData["ActivePage"] = ProductNavPages.Products;
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<link rel="stylesheet" type="text/css" href="~/list-css/table-style.css" />
<link rel="stylesheet" type="text/css" href="~/list-css/basictable.css" />

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>Products List</h4>
            <hr />
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                        <div class="agile-news-table">
                            <div class="w3ls-news-result">
                                <h4>Total Count : <span>@Model.Count()</span></h4>
                            </div>
                            <table id="table-breakpoint">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Code</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Category</th>
                                        <th>Brand</th>
                                        <th>Functions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var product in Model)
                                    {
                                        <tr>
                                            <td>@product.Id</td>
                                            <td>@product.Name</td>
                                            <td>@product.Code</td>
                                            <td>@product.Description</td>
                                            <td>@product.Price</td>
                                            <td>@product.Brand.Name</td>
                                            <td>@product.Category.Name</td>
                                            <td>
                                                <a class="badge badge-success" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                                                <a class="badge badge-danger" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-primary @prevDisabled">
                Previous
            </a>
            <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/list-js/jquery.basictable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').basictable();

            $('#table-breakpoint').basictable({
                breakpoint: 768
            });
        });
    </script>
}