@using PhotoPavilion.Models.ViewModels.Products
@model PaginatedList<ProductDetailsViewModel>
@{
    this.ViewData["Title"] = "All products";
    this.ViewData["ActivePage"] = ProductNavPages.Products;
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Products List</h4>
            <hr />
            <h5>Total Count : <span>@Model.Count()</span></h5>
            <table class="table table-bordered table-dark table-hover">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Code</th>
                        <th scope="col">Short Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Functions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">@product.Id</th>
                            <td>@product.Name</td>
                            <td>@product.Code</td>
                            <td>@Html.Raw(product.SanitizedShortDescription)</td>
                            <td>@product.Price</td>
                            <td>@product.Category.Name</td>
                            <td>@product.Brand.Name</td>
                            <td>
                                <a class="badge badge-success" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                                <a class="badge badge-danger" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <hr />
            <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex - 1)" class="btn btn-primary @prevDisabled">
                Previous
            </a>
            <a asp-action="GetAll" asp-route-pageNumber="@(Model.PageIndex + 1)" class="btn btn-primary @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>